#card{
    display: flex;
  flex-direction: column;
 
}


.card{
    background-color: #ad7979;
    color: #333333;
    box-shadow: 0 4px 15px #00000029;
    padding: 15px;
    text-align: center;
    width: 50%;
    border-radius: 5px;
  margin-bottom: 15px;

    img{
        width: 70%;
    }
}